.discover-main-content {
    margin: 0;
}

#discover-topics {
    margin: 0;
    height: 18em;
    width: 34em;
    padding-left: 0;
}

#discover-container {
    width: 40em;
    padding-top: 2em;
    height: 42em;
}

.discover-heading {
    padding-bottom: 2em;
}

/* Information styles are started from here..!! */



.i-head {
    margin: 1em 0;
}

#p-1 {
    font-family: "Kanit", sans-serif;
    margin-bottom: 1em;
    font-size: large;
}

#p-2 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
}

#p-2 a b:hover {
    color: #1245b4;
}

#p-2 b {
    color: #302f2f;
    text-decoration: underline;
}

#p-3 {
    font-size: small;
    font-weight: lighter;
}

#information-container {
    width: 70%;
    height: 42em;
    display: flex;
}

#home-link {
    align-self: flex-end;
    width: fit-content;
    margin: 8em 3em 4em 0;
}

#return-home {
    align-self: flex-end;
    padding: 1em;
    font-size: small;
    background-color: #1245b4;
    color: white;
    border: none;
    border-radius: 10px;
}

#return-home:hover {
    background-color: #0c2b70;
}


/* Topic page style sheets starts from here  */

.topic-page-main-content {
    margin: 0;
    margin-top: 5.5em;
    display: flex;

}

.topic-page-content {
    display: flex;
    flex-direction: column;
}

.topic-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}

.topic-img-border-1 {
    border: 2px solid #686666;
    border-radius: 50%;
    padding: 0.1em;
}

.border-topic {
    border: 2px solid black;
    border-radius: 50%;
}

.topic-img-pic {
    width: 100px;
    border-radius: 50%;
    padding: 0.2em;
    outline: 0.25em solid #000000a1;
    animation: topicImgAnimation 1s ease-in-out 1;
}

@keyframes topicImgAnimation{
    0%{
        outline-width: 1px;
    }
    100%{
        outline-width: 0.25em;
    }
}

.about-topic {
    margin-left: 7em;
}

.topic-heading {
    width: 45em;
    display: flex;
    align-items: center;
}

.topic-about {
    width: 25em;
}

.topic-page-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8em;
    border-bottom: 0.5px solid #c6c5c5;
    height: 2.5em;
}

.topic-page-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topic-page-nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0 2em;
}

.topic-page-nav ul li button a {
    color: #302f2f;
    text-decoration: none;
    padding: 0 2em 0.5em;
}

.topic-page-nav ul li button {
    background-color: inherit;
    border: none;
    font-size: larger;
}

.topic-page-nav ul li .active {
    border-bottom: 2.5px solid #838282;
    color: #0056d2;
    ;
    font-weight: bold;
}

.init-line {
    text-align: center;
    margin-top: 4em;
}

/* Topicpage image view box style sheet starts here  */

.topic-img-view-box-background {
    position: absolute;
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    background-color: #000000a6;
    animation: topicImgBoxFadeInAnimation 0.3s ease forwards 1;
}

@keyframes topicImgBoxFadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes topicImgViewBoxAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.topic-img-view-box {
    width: 43em;
    height: 29em;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    background-color: white;
    margin: 3em;
    /* padding: 1em 3em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    animation: topicImgViewBoxAnimation 0.3s ease-out 1;
}

.topic-img-view-box-body {
    display: flex;
    flex-direction: row;
}

.topic-prev-btn {
    width: 2em;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.topic-next-btn {
    width: 2em;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.topic-img-box {
    margin: 0 1.5em;
    overflow: hidden;
    scroll-behavior: smooth;
}

.topic-img-box ul {
    display: flex;
    flex-direction: row;
}

.topic-img-box li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    width: 30em;
    height: 26em;
    /* margin:0 3em; */
}

.topic-img-box li img {
    border-radius: 10px;
    max-width: 30em;
    max-height: 26em;
}

#close-topic-img-view-box {
    display: flex;
    align-self: flex-end;
    margin: 0.5em 1em 0 0;
}


/* Responsive codes Starts from Here  */
/* *** */
/* *** */

@media only screen and (max-width: 460px) {
    .topic-img-view-box {
        width: 95vw;
    }

    .topic-img-box li img {
        max-width: 80vw;
    }

    .topic-img-box {
        margin: 0;
    }

    .topic-prev-btn {
        margin: 0;
        position: absolute;
        transform: translate(4vw, 12em);
    }

    .topic-next-btn {
        margin: 0;
        position: absolute;
        transform: translate(79vw, 12em);
    }
}

@media only screen and (max-width: 1024px) and (max-height: 500px) {
    .topic-img-view-box {
        width: 70vw;
        height: 80vh;
        margin: 0;
    }

    .topic-img-box li {
        height: 70vh;
    }

    .topic-img-box li img {
        max-height: 70vh;
        max-width: 45vw;
    }
}

@media only screen and (max-width: 700px) and (max-height: 350px) {
    .topic-img-view-box {
        width: 68vw;
        height: 78vh;
        margin: 0;
    }

    .topic-img-box li {
        height: 68vh;
    }

    .topic-img-box li img {
        max-height: 68vh;
        max-width: 40vw;
    }
}

@media only screen and (max-width: 425px) {
    #discover-topics {
        margin: 0;
        height: 18em;
        width: 90vw;
        padding-left: 0;
    }

    #discover-container {
        width: 100vw;
        padding-top: 2em;
        height: 42em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .discover-heading {
        padding-bottom: 3em;
        padding-top: 1em;
    }

    /* Topic page style sheets starts from here  */

    .topic-page-main-content {
        width: 100vw;
        margin-top: 3em;
    }

    .topic-page-header {
        flex-direction: column;
        margin-bottom: 3em;
        align-items: center;
    }

    .topic-img {
        margin-bottom: 1em;
    }

    .topic-img-pic {
        width: 85px;
    }

    .topic-heading {
        width: 60vw;
        justify-content: center;
    }

    .topic-about {
        width: 60vw;
    }

    .about-topic {
        margin-left: 0;
    }

    .topic-page-nav {
        padding-left: 0;
    }

    .topic-page-nav ul li {
        margin: 0 5vw;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 425px) {
    #discover-topics {
        margin: 0;
        height: 18em;
        width: 25em;
        padding-left: 0;
    }

    #discover-container {
        width: 100vw;
        padding-top: 2em;
        height: 42em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .discover-heading {
        padding-bottom: 3em;
        padding-top: 1em;
    }

}

@media only screen and (max-device-width: 1024px) {
    .topic-page-main-content {
        width: 100vw;
        margin-top: 3em;
    }

    .topic-page-header {
        flex-direction: column;
        margin-bottom: 3em;
        align-items: center;
    }

    .topic-img {
        margin-bottom: 1em;
    }

    .topic-img-pic {
        width: 85px;
    }

    .topic-heading {
        width: 60vw;
        justify-content: center;
    }

    .topic-about {
        width: 60vw;
    }

    .about-topic {
        margin-left: 0;
    }

    .topic-page-nav {
        padding-left: 0;
    }

    .topic-page-nav ul li {
        margin: 0 5vw;
    }
}

@media only screen and (min-device-width: 1024px) {
    .topic-page-nav ul li a:hover {
        border-bottom: 2.5px solid #b9b8b8;
        color: #3f537e;
    }
}