@media only screen and (max-width: 400px) {

    .navbar {
        width: 100%;
        position: fixed;
    }

    .logo-box {
        display: none;
    }

    #feed-box {
        margin: 0.1em 0;
    }


    #main-content {
        margin-left: 0;

    }

    #people-box {
        width: 50vw;
        height: 5em;
    }

    .content-box {
        width: 90vw;
    }

    .user-bar {
        width: 90vw;
    }

    .user-name {
        width: 10.5em;
    }

    #three-dot-opts {
        width: 5em;
    }

    #three-dot-opts ul li {
        width: 4em;
    }

    .content {
        width: 99vw;
        justify-content: center;
    }

    .content img {
        height: 18em;
        width: 90vw;
    }

    .like-bar {
        width: 90vw;
        height: 5em;
    }

    .oth-button-funcs {
        display: none;
    }

    #add-box {
        padding: 1.5em 2.5em;
    }

    #add-box .topics {
        width: 18em;
    }

    #add-interests {
        width: 20em;
    }

    .box {
        width: 20em;
        height: 16em;
    }

    /* .discover-main-content {
        margin: 0;
    } */

    #discover-topics {
        justify-content: center;
        height: 18em;
        width: 22em;
    }

    #discover-container {
        width: 23em;
    }

}